# **25 SQL Tips and Tricks, Yayy!!** üéâ

Hello, SQL enthusiasts! üëã Ever wondered how to make the most out of SQL, add some sparkle ‚ú® to your queries, and impress everyone at the next SQL meetup? You've come to the right place!

In this notebook, we‚Äôll dive into SQL queries that range from easy to challenging‚Äîmarked accordingly for all levels of learners! Each query includes an **elaborate explanation**, a **use case**.

> **Note**: This tutorial uses the w3schools\_tutor3¬†file available in the repository, so be sure to download that if you‚Äôre following along.

Grab your coffee ‚òï, and let‚Äôs get started!

## **<u>1\. Selecting Top N Rows</u>**

**Use Case:** Imagine you run an online store, and you want to display the priciest items to attract high-spending customers (or just for the "wow" factor!). This query pulls the top 5 most expensive products, letting you showcase those high-ticket items.

**Explanation:**

- SELECT TOP 5 limits the result to the first 5 rows. It‚Äôs like saying, ‚ÄúHey, SQL, just give me a little taste!‚Äù
- Product Name and Price are the columns we want to see in our result.
- ORDER BY Price DESC sorts items by price, highest first. DESC stands for "descending," so the most expensive products come up top. Without DESC, it would be ASC(ascending) by default, showing the cheapest items first.

_(Did you know SQL is capable of making you feel like a data wizard? Summon the top results like a boss! üßô‚Äç‚ôÇÔ∏è)_

**CODE:**  

<span style="color: #0000ff;">SELECT</span> <span style="color: #0000ff;">TOP</span> <span style="color: #09885a;">5</span> ProductName, Price

<span style="color: #0000ff;">FROM</span> Products

<span style="color: #0000ff;">ORDER BY</span> Price <span style="color: #0000ff;">DESC</span>;

In [3]:
SELECT TOP 5 ProductName, Price 
FROM Products
ORDER BY Price DESC;

ProductName,Price
C√¥te de Blaye,263.50
Th√ºringer Rostbratwurst,123.79
Mishi Kobe Niku,97.00
Sir Rodney's Marmalade,81.00
Carnarvon Tigers,62.50

## **<u>2\. Using Aliases for Better Readability</u>**

**Use Case:**¬†Let‚Äôs say you‚Äôre organizing a product catalog, and you want to quickly see the products with their categories. This query pairs each product with its category and shows the first 5 of them.

**Explanation:**

- P and C are table aliases (nicknames), so you don‚Äôt have to type Products and Categories repeatedly. Think of them as your query‚Äôs shorthand besties.
- JOIN links Products with Categories, pairing each product with its category based on CategoryID.¬†It‚Äôs like matchmaking between tables.
- AS renames the output columns as Product and Category to make the results more readable.

(Showcasing your star products like a proud parent at a school play‚Äîlet‚Äôs give them the spotlight they deserve! üåüüé≠)

**CODE:**

<span style="color: #0000ff;">SELECT</span> P.ProductName <span style="color: #0000ff;">AS</span> Product, C.CategoryName <span style="color: #0000ff;">AS</span> Category

<span style="color: #0000ff;">FROM</span> Products P

<span style="color: #0000ff;">JOIN</span> Categories C <span style="color: #0000ff;">ON</span> P.CategoryID <span style="color: #000000;">=</span> C.CategoryID;

In [4]:
SELECT TOP 5 P.ProductName AS Product, C.CategoryName AS Category
FROM Products P
JOIN Categories C ON P.CategoryID = C.CategoryID;

Product,Category
Chais,Beverages
Chang,Beverages
Aniseed Syrup,Condiments
Chef Anton's Cajun Seasoning,Condiments
Chef Anton's Gumbo Mix,Condiments

## **<u>3\. Filtering with WHERE Clause</u>**

**Use Case:**¬†This query is handy if you‚Äôre targeting customers from a specific region, like Germany. Need to send a local promotion or just see who‚Äôs in the area? Here‚Äôs your quick list.

**Explanation:**

- WHERE Country = 'Germany' filters the rows, showing only customers located in Germany. It‚Äôs like a ‚Äúfilter by country‚Äù button.

(Let‚Äôs raise a glass to your customers in Germany‚Äîbecause every great business has its champions! üçª)

**CODE:**

<span style="color: #0000ff;">SELECT</span> CustomerName, Country

<span style="color: #0000ff;">FROM</span> Customers

<span style="color: #0000ff;">WHERE</span> Country <span style="color: #000000;">=</span> <span style="color: #a31515;">'Germany'</span>;

In [5]:
SELECT TOP 5 CustomerName, Country
FROM Customers
WHERE Country = 'Germany';

CustomerName,Country
Alfreds Futterkiste,Germany
Blauer See Delikatessen,Germany
Drachenblut Delikatessend,Germany
Frankenversand,Germany
K√∂niglich Essen,Germany

## **<u>4\. Aggregate Function(SUM)</u>**

**Use Case:**  
Want to know how much of each item was ordered without scrolling through individual records? This query gives you a summary, with each order‚Äôs total quantity of items.

**Explanation:**

- SUM(Quantity) tallies up the quantity of items per OrderID.
- GROUP BY Order clusters rows by order so that each order‚Äôs quantity is summed up individually.
- AS TotalQuantity labels this summed-up column for clarity.

(It's like counting the number of ice creams sold at a summer festival‚Äîlet‚Äôs see which orders are serving up the biggest scoops! üç¶üìä)

**CODE:**

<span style="color: #0000ff;">SELECT</span> OrderID, <span style="color: #795e26;">SUM</span>(Quantity) <span style="color: #0000ff;">AS</span> TotalQuantity

<span style="color: #0000ff;">FROM</span> OrderDetails

<span style="color: #0000ff;">GROUP BY</span> OrderID;

In [6]:
SELECT TOP 5 OrderID, SUM(Quantity) AS TotalQuantity
FROM OrderDetails
GROUP BY OrderID;

OrderID,TotalQuantity
10248,27
10249,49
10250,60
10251,41
10252,105

## **<u>5\. Using DISTINCT</u>**

**Use Case:**  
If you‚Äôre curious about the unique cities your customers come from, this query provides a list of them. Perfect for market research or simply seeing where your reach is spreading!

**Explanation:**

- DISTINCT gives only unique city names, so there are no duplicates.

(Think of it as a mini-world tour of your customer base‚Äîlet‚Äôs see where your fans are hailing from! üåç‚úàÔ∏è)

**CODE:**  
  
<span style="color: rgb(0, 0, 255);">SELECT DISTINCT</span> <span style="color: var(--vscode-foreground);">City</span>

<span style="color: #0000ff;">FROM</span> Customers;

In [5]:
SELECT DISTINCT TOP 5 City
FROM Customers;

City
Aachen
Albuquerque
Anchorage
√Örhus
Barcelona

# **<u>6\. String Pattern Matching with LIKE</u>**

**Use Case:**  
Need to find customers whose names start with "A"? This query will help by narrowing down a list of customers, ideal for personalized marketing or communication efforts targeting specific groups.

**Explanation:**

- SELECT CustomerName pulls the CustomerName column from the Customers table.
- WHERE CustomerName LIKE 'A%' filters for names starting with "A":
    - The LIKE keyword allows pattern matching.
    - A% matches any name beginning with "A" followed by any number of characters, thanks to %¬†(the wildcard for multiple characters).

By using this query, you can easily pull data for a targeted subset without needing to sort through all entries manually. It‚Äôs a highly efficient way to filter names based on starting letters.

(SQL's alphabet game is on! Here's your exclusive "A-listers" club.)

**CODE:**  

<span style="color: #0000ff;">SELECT</span> CustomerName

<span style="color: #0000ff;">FROM</span> Customers

<span style="color: #0000ff;">WHERE</span> CustomerName <span style="color: #0000ff;">LIKE</span> <span style="color: #a31515;">'A%'</span>;

In [9]:
SELECT CustomerName
FROM Customers
WHERE CustomerName LIKE 'A%';

CustomerName
Alfreds Futterkiste
Ana Trujillo Emparedados y helados
Antonio Moreno Taquer√≠a
Around the Horn

## **<u>7\. Sorting Data with ORDER BY</u>**

**Use Case:**  
Looking for the first five suppliers in alphabetical order by city? This query delivers a tidy list, perfect if you‚Äôre interested in a quick view of suppliers based on location.

**Explanation:**

- SupplierName and City are selected from the Suppliers table.
- ORDER BY City ASC sorts the results in ascending order by the City column (from A to Z).

This query is a powerful choice when you‚Äôre only interested in the top entries and want results neatly sorted by a specific attribute, such as city.

(SQL‚Äôs taking you on a quick supplier tour‚Äîwe‚Äôre alphabetizing the route!üó∫Ô∏è)

**CODE:**

<span style="color: #0000ff;">SELECT</span> SupplierName, City

<span style="color: #0000ff;">FROM</span> Suppliers

<span style="color: #0000ff;">ORDER BY</span> City <span style="color: #0000ff;">ASC</span>;

In [10]:
SELECT TOP 5 SupplierName, City
FROM Suppliers
ORDER BY City ASC;

SupplierName,City
Grandma Kelly's Homestead,Ann Arbor
Gai p√¢turage,Annecy
Bigfoot Breweries,Bend
Heli S√º√üwaren GmbH & Co. KG,Berlin
New England Seafood Cannery,Boston

## **<u>8\. Date Filtering</u>**

**Use Case:**  
Need a list of orders placed within a specific date range? This query is ideal for gathering data on orders placed over a set period, useful for tracking sales patterns or evaluating a promotion‚Äôs performance.

**Explanation:**

- WHERE OrderDate BETWEEN uses the BETWEEN operator to capture orders made between July 4, 1996, and July 9, 1996, inclusive:
    - The BETWEEN operator is perfect for defining a start and end point for date-based filtering.
    - This approach includes both boundary dates, so July 4 and July 9 orders are also counted.

This query is particularly handy for quickly focusing on records over a holiday weekend, specific week, or any other targeted period without needing additional filtering.

(SQL‚Äôs on a date hunt! Here‚Äôs your order snapshot from one week in July ‚Äò96‚Äîhappy tracking!üìÖ)

**CODE:**  

<span style="color: #0000ff;">SELECT</span> OrderID, OrderDate

<span style="color: #0000ff;">FROM</span> Orders

<span style="color: #0000ff;">WHERE</span> OrderDate <span style="color: #0000ff;">BETWEEN</span> <span style="color: #a31515;">'1996-07-04'</span> <span style="color: #0000ff;">AND</span> <span style="color: #a31515;">'1996-07-09'</span>;

In [17]:
SELECT OrderID, OrderDate
FROM Orders
WHERE OrderDate BETWEEN '1996-07-04' AND '1996-07-09';

OrderID,OrderDate
10248,1996-07-04
10249,1996-07-05
10250,1996-07-08
10251,1996-07-08
10252,1996-07-09

## **<u>9\. Combining Rows with UNION</u>**

**Use Case:**  
Want a combined view of cities from both your customers and suppliers? This query lets you see an overview of top cities from both groups, especially useful for comparing where you have the highest overlap or reach across different connections.

**Explanation:**

- SELECT City FROM Customers fetches the first three cities listed in the Customers table.
- UNION combines the results from two or more SELECT statements, removing any duplicate cities.
- SELECT City FROM Suppliers does the same for the Suppliers table.

The Union operator makes this query unique, as it combines two separate datasets into one and removes duplicates. If both customers and suppliers are in the same city, it only appears once in the final output. This query is perfect for getting a quick look at where both customers and suppliers are concentrated.

(SQL‚Äôs got a city mash-up! Here‚Äôs the scoop on top cities, no duplicates allowed. üåÜ)

**CODE:**

<span style="color: #0000ff;">SELECT</span> City <span style="color: #0000ff;">FROM</span> Customers

<span style="color: #0000ff;">UNION</span>

<span style="color: #0000ff;">SELECT</span> City <span style="color: #0000ff;">FROM</span> Suppliers;

In [8]:
SELECT TOP 3 City FROM Customers
UNION
SELECT TOP 3 City FROM Suppliers;

City
Ann Arbor
Berlin
Londona
M√©xico D.F.
New Orleans

## **<u>10\. Joining Multiple Tables</u>**

**Use Case:**  
This query is excellent for getting a quick overview of products alongside their categories and suppliers. Whether you're creating a catalog or just looking to understand which suppliers provide products in specific categories, this query offers a snapshot view with only the first five results for easy reference.

**Explanation:**

- JOIN links the Products table with the Categories table on the CategoryID column, enabling the display of each product‚Äôs category name.
- JOIN further links the Products table with the Suppliers table on the SupplierID column, adding the supplier name to the output.

With multiple JOINs, this query shows related data from three tables in one result set, giving you a clear picture of the product‚Äôs category and supplier. This type of query is highly useful for comprehensive data retrieval across interconnected tables.

(SQL‚Äôs pulling together your product lineup with categories and suppliers‚Äîlike a data triple threat! üé¨)

**CODE:**

<span style="color: #0000ff;">SELECT</span> P.ProductName, C.CategoryName, S.SupplierName

<span style="color: #0000ff;">FROM</span> Products P

<span style="color: #0000ff;">JOIN</span> Categories C <span style="color: #0000ff;">ON</span> P.CategoryID <span style="color: #000000;">=</span> C.CategoryID

<span style="color: #0000ff;">JOIN</span> Suppliers S <span style="color: #0000ff;">ON</span> P.SupplierID <span style="color: #000000;">=</span> S.SupplierID;

In [22]:
SELECT TOP 5 P.ProductName, C.CategoryName, S.SupplierName
FROM Products P
JOIN Categories C ON P.CategoryID = C.CategoryID
JOIN Suppliers S ON P.SupplierID = S.SupplierID;

ProductName,CategoryName,SupplierName
Chais,Beverages,Exotic Liquid
Chang,Beverages,Exotic Liquid
Aniseed Syrup,Condiments,Exotic Liquid
Chef Anton's Cajun Seasoning,Condiments,New Orleans Cajun Delights
Chef Anton's Gumbo Mix,Condiments,New Orleans Cajun Delights

## **<u>11\. Calculationg Average with AVG Function</u>**

**Use Case:**  
Ever wondered about the average price of products in your store? This query calculates it, giving you a sense of your pricing range.

**Explanation:**

- AVG(Price) alculates the average value of Price across all products.
- AS AvgPrice akes the output column clear. Instead of an unlabeled number, you get ‚ÄúAvgPrice.‚Äù

(So, let SQL be your financial advisor‚Äîminus the hefty fees! üí∞)

**CODE:**  

<span style="color: #0000ff;">SELECT</span> <span style="color: #795e26;">AVG</span>(Price) <span style="color: #0000ff;">AS</span> AvgPrice

<span style="color: #0000ff;">FROM</span> Products;

In [24]:
SELECT AVG(Price) AS AvgPrice
FROM Products;

AvgPrice
28.8663

## **<u>12\. Grouping Data with GROUP BY</u>**

**Use Case:** This query helps you see which categories are the most populated with products‚Äîgreat for spotting trends in your inventory!

**Explanation:** It counts the number of products in each category and shows the top five categories, giving you a quick glance at where your inventory is concentrated. Think of it as a roll call for your product categories! üéâ

(Counting products like a pro‚Äîwho knew SQL could be this much fun? üßÆ)

**CODE:**

<span style="color: #0000ff;">SELECT</span> CategoryID, <span style="color: #795e26;">COUNT</span>(ProductID) <span style="color: #0000ff;">AS</span> ProductCount

<span style="color: #0000ff;">FROM</span> Products

<span style="color: #0000ff;">GROUP BY</span> CategoryID;

In [10]:
SELECT TOP 5 CategoryID, COUNT(ProductID) AS ProductCount
FROM Products
GROUP BY CategoryID;

CategoryID,ProductCount
1,12
2,12
3,13
4,10
5,7

## **<u>13\. Filtering Groups with HAVING</u>**

**Use Case:** This query lets you find categories with more than 10 products, perfect for identifying your most stocked categories for better inventory management!

**Explanation:** It counts products per category, showing only those with more than 10 items. It‚Äôs like a VIP list for categories‚Äîonly the popular ones make the cut! üéüÔ∏è

(Filtering out the crowd and spotlighting the big players‚ÄîSQL knows how to throw a party! ü•≥)

**CODE:**  

<span style="color: #0000ff;">SELECT</span> CategoryID, <span style="color: #795e26;">COUNT</span>(ProductID) <span style="color: #0000ff;">AS</span> ProductCount

<span style="color: #0000ff;">FROM</span> Products

<span style="color: #0000ff;">GROUP BY</span> CategoryID

<span style="color: #0000ff;">HAVING</span> <span style="color: #795e26;">COUNT</span>(ProductID) <span style="color: #000000;">&gt;</span> <span style="color: #09885a;">10</span>;

In [26]:
SELECT CategoryID, COUNT(ProductID) AS ProductCount
FROM Products
GROUP BY CategoryID
HAVING COUNT(ProductID) > 10;

CategoryID,ProductCount
1,12
2,12
3,13
8,12

## **<u>14\. Handling Null Values with "IS NULL"</u>**

**Use Case:** Ready to become a data detective? This query helps you unearth customers without postal codes‚Äîlet‚Äôs make sure no one misses out on your next fabulous offer! Who knows, you might just find some hidden gems in your customer list!

**Explanation:**

- SELECT CustomerName, PostalCode: Retrieves the names and postal codes of customers.
- WHERE PostalCode IS NULL: Filters to show only those customers who are missing a postal code.

(It's like a scavenger hunt for your data‚Äîlet‚Äôs track down those postal codes and get everyone on the map! üó∫Ô∏è‚ú®)

**CODE:**  

<span style="color: #0000ff;">SELECT</span> CustomerName, PostalCode

<span style="color: #0000ff;">FROM</span> Customers

<span style="color: #0000ff;">WHERE</span> PostalCode <span style="color: #0000ff;">IS</span> <span style="color: #0000ff;">NULL</span>;

In [27]:
SELECT CustomerName, PostalCode
FROM Customers
WHERE PostalCode IS NULL;

CustomerName,PostalCode
Hungry Owl All-Night Grocers,NULL

## **<u>15\. Conditional Logic with CASE</u>**

**Use Case:** Looking to categorize your orders like a pro? This query helps you identify whether your top orders are "Large" or "Small," making it easy to manage inventory and planning‚Äîperfect for any budding business owner!

**Explanation:**

- CASE Statement here classifies orders as "Large" if the quantity exceeds 10, and "Small" otherwise.

(Think of it as sizing up your orders‚Äîbecause every order deserves the right label! üì¶üëó)

**CODE:**

<span style="color: #0000ff;">SELECT</span> OrderID,

¬† ¬† ¬† ¬†<span style="color: #0000ff;">CASE</span>

¬† ¬† ¬† ¬† ¬† ¬†<span style="color: #0000ff;">WHEN</span> Quantity <span style="color: #000000;">&gt;</span> <span style="color: #09885a;">10</span> <span style="color: #0000ff;">THEN</span> <span style="color: #a31515;">'Large'</span>

¬† ¬† ¬† ¬† ¬† ¬†<span style="color: #0000ff;">ELSE</span> <span style="color: #a31515;">'Small'</span>

¬† ¬† ¬† ¬†<span style="color: #0000ff;">END</span> <span style="color: #0000ff;">AS</span> OrderSize

<span style="color: #0000ff;">FROM</span> OrderDetails;

In [11]:
SELECT TOP 5 OrderID,
       CASE 
           WHEN Quantity > 10 THEN 'Large'
           ELSE 'Small'
       END AS OrderSize
FROM OrderDetails;

OrderID,OrderSize
10248,Large
10248,Small
10248,Small
10249,Small
10249,Large

## **<u>16\. Subqueries for Complex Queries</u>**

**Use Case:** Want to find your most loyal customers? This query helps you identify those superstars who‚Äôve placed more than five orders‚Äîperfect for rewarding your VIPs with special offers!

**Explanation:**

- WHERE CustomerID IN(...): Filters to include only those customers who meet the criteria from the subquery.
- The Subquery Counts orders per customer and retains only those with more than five orders.

(Your loyal customers deserve a shout-out‚Äîlet‚Äôs roll out the red carpet for these order champions! üéâ‚ú®)

**CODE:**  

<span style="color: #0000ff;">SELECT</span> CustomerName

<span style="color: #0000ff;">FROM</span> Customers

<span style="color: #0000ff;">WHERE</span> CustomerID <span style="color: #0000ff;">IN</span> (

¬† ¬† <span style="color: #0000ff;">SELECT</span> CustomerID

¬† ¬† <span style="color: #0000ff;">FROM</span> Orders

¬† ¬† <span style="color: #0000ff;">GROUP BY</span> CustomerID

¬† ¬† <span style="color: #0000ff;">HAVING</span> <span style="color: #795e26;">COUNT</span>(OrderID) <span style="color: #000000;">&gt;</span> <span style="color: #09885a;">5</span>

);

In [33]:
SELECT CustomerName
FROM Customers
WHERE CustomerID IN (
    SELECT CustomerID 
    FROM Orders 
    GROUP BY CustomerID
    HAVING COUNT(OrderID) > 5
);

CustomerName
Ernst Handel
Hungry Owl All-Night Grocers
QUICK-Stop
Rattlesnake Canyon Grocery
Split Rail Beer & Ale
Wartian Herkku

## **<u>17\. Using EXISTS for Efficient Subqueries</u>**

**Use Case:** Curious about which suppliers are actively providing products? This query helps you spotlight the top five suppliers who are keeping your shelves stocked‚Äîgreat for ensuring strong partnerships!

**Explanation:**

- WHERE EXISTS(...): nsures that only suppliers with products in the Products table are included.
- The Subquery Checks for the existence of products linked to each supplier.

(Shining a light on your supplier rockstars‚Äîbecause every great product has a great supplier behind it! üåü)

**CODE:**

<span style="color: #0000ff;">SELECT</span> SupplierName

<span style="color: #0000ff;">FROM</span> Suppliers

<span style="color: #0000ff;">WHERE</span> <span style="color: #0000ff;">EXISTS</span> (<span style="color: #0000ff;">SELECT</span> <span style="color: #09885a;">1</span> <span style="color: #0000ff;">FROM</span> Products <span style="color: #0000ff;">WHERE</span> Products.SupplierID <span style="color: #000000;">=</span> Suppliers.SupplierID);

In [12]:
SELECT TOP 5 SupplierName
FROM Suppliers
WHERE EXISTS (SELECT 1 FROM Products WHERE Products.SupplierID = Suppliers.SupplierID);

SupplierName
Exotic Liquid
New Orleans Cajun Delights
Grandma Kelly's Homestead
Tokyo Traders
Cooperativa de Quesos 'Las Cabras'

## **<u>18\. Self Joins</u>**

**Use Case:** Want to see which of your customers are neighbors? This query pairs up customers from the same city, giving you insights into your local network‚Äîgreat for targeting community marketing efforts!

**Explanation:**

- SELECT C1.CustomerName, C2.CustomerName retrieves names of the pairs of customers.
- <span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">JOIN Customers C2 ON </span> <span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">C1.City </span> <span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(0, 0, 0);">=</span> <span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;"> C2.City AND </span> <span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">C1.CustomerID </span> <span style="font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(0, 0, 0);">&lt;&gt;</span> <span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;"> C2.CustomerID: </span> atches customers from the same city while ensuring they are not the same person.

(Talk about a friendly neighborhood! Let‚Äôs see who‚Äôs living next door in your customer base! üèôÔ∏èü§ù)

**CODE:**

<span style="color: #0000ff;">SELECT</span> C1.CustomerName, C2.CustomerName

<span style="color: #0000ff;">FROM</span> Customers C1

<span style="color: #0000ff;">JOIN</span> Customers C2 <span style="color: #0000ff;">ON</span> C1.City <span style="color: #000000;">=</span> C2.City <span style="color: #0000ff;">AND</span> C1.CustomerID <span style="color: #000000;">&lt;&gt;</span> C2.CustomerID;

In [1]:
SELECT TOP 5 C1.CustomerName, C2.CustomerName
FROM Customers C1
JOIN Customers C2 ON C1.City = C2.City AND C1.CustomerID <> C2.CustomerID;

CustomerName,CustomerName
Antonio Moreno Taquer√≠a,Ana Trujillo Emparedados y helados
Centro comercial Moctezuma,Ana Trujillo Emparedados y helados
Pericles Comidas cl√°sicas,Ana Trujillo Emparedados y helados
Tortuga Restaurante,Ana Trujillo Emparedados y helados
Ana Trujillo Emparedados y helados,Antonio Moreno Taquer√≠a

## **<u>19\. Using OUTER JOIN to include Non-matching Rows</u>**

**Use Case:** Curious about which products are making waves in your orders? This query shows the top five products along with their associated order IDs, helping you identify popular items and streamline your sales strategies!

**Explanation:**

- LEFT JOIN combines product data with order details, ensuring all products are listed even if they haven‚Äôt been ordered yet.

(Spotting trends while keeping everyone in the loop‚Äîbecause even the wallflowers in your product lineup deserve some love! üå∏üì¶)

**CODE:**

<span style="color: #0000ff;">SELECT</span> P.ProductName, OD.OrderID

<span style="color: #0000ff;">FROM</span> Products P

<span style="color: #0000ff;">LEFT JOIN</span> OrderDetails OD <span style="color: #0000ff;">ON</span> P.ProductID <span style="color: #000000;">=</span> OD.ProductID;

In [15]:
SELECT TOP 5 P.ProductName, OD.OrderID
FROM Products P
LEFT JOIN OrderDetails OD ON P.ProductID = OD.ProductID;

ProductName,OrderID
Chais,10285
Chais,10294
Chais,10317
Chais,10348
Chais,10354

## **<u>20\. Finding Rows with NOT IN</u>**

**Use Case:** Want to identify customers who haven‚Äôt placed any orders yet? This query helps you spot those potential buyers who might need a little nudge‚Äîperfect for targeted marketing campaigns or outreach!

**Explanation:**

- WHERE and NOT IN filters out customers who have placed any orders.

(Think of it as a friendly reminder to engage with customers who might be lurking‚Äîlet‚Äôs turn those curious minds into loyal buyers! üõçÔ∏è‚ú®)

**CODE:**

<span style="color: #0000ff;">SELECT</span> CustomerName

<span style="color: #0000ff;">FROM</span> Customers

<span style="color: #0000ff;">WHERE</span> CustomerID <span style="color: #0000ff;">NOT</span> <span style="color: #0000ff;">IN</span> (<span style="color: #0000ff;">SELECT</span> CustomerID <span style="color: #0000ff;">FROM</span> Orders);

In [16]:
SELECT TOP 5 CustomerName
FROM Customers
WHERE CustomerID NOT IN (SELECT CustomerID FROM Orders);

CustomerName
Alfreds Futterkiste
Blauer See Delikatessen
Cactus Comidas para llevar
FISSA Fabrica Inter. Salchichas S.A.
France restauration

## **<u>21\. Using ROW\_NUMBER() for Ranking</u>**

**Use Case:** Looking to showcase your most expensive products? This query ranks the top five products by price, giving you a quick view of the high-end items that might catch your customers' attention!

**Explanation:**

- Here ROW\_NUMBER() assigns a rank to each product based on its price in descending order.

(Time to flaunt your luxury items‚Äîbecause who doesn‚Äôt love a little bling in their catalog? üíé‚ú®)

**CODE:**

<span style="color: #0000ff;">SELECT</span> ProductName, Price,

¬† ¬† ¬† ¬†<span style="color: #795e26;">ROW_NUMBER</span>() <span style="color: #0000ff;">OVER</span> (<span style="color: #0000ff;">ORDER BY</span> Price <span style="color: #0000ff;">DESC</span>) <span style="color: #0000ff;">AS</span> Rank

<span style="color: #0000ff;">FROM</span> Products;

In [17]:
SELECT TOP 5 ProductName, Price, 
       ROW_NUMBER() OVER (ORDER BY Price DESC) AS Rank
FROM Products;

ProductName,Price,Rank
C√¥te de Blaye,263.50,1
Th√ºringer Rostbratwurst,123.79,2
Mishi Kobe Niku,97.00,3
Sir Rodney's Marmalade,81.00,4
Carnarvon Tigers,62.50,5

## **<u>22\. Using COUNT with CASE for Conditional Counts</u>**

**Use Case:** Want to see which countries are buzzing with orders? This query reveals the top five countries along with the count of customers who have placed orders, helping you focus your marketing efforts on the most engaged regions!

**Explanation:**

- COUNT with CASE counts customers with orders in each country.
- LEFT JOIN joins the Customers¬†table with the Orders table to include all customers, even those without orders.
- GROUP BY groups the results by country for accurate counting.

(Let‚Äôs find out where the action is‚Äîbecause every good business knows its hotspots! üåçüìà)

**CODE:**

<span style="color: #0000ff;">SELECT</span> Country,

¬† ¬† ¬† ¬†<span style="color: #795e26;">COUNT</span>(<span style="color: #0000ff;">CASE</span> <span style="color: #0000ff;">WHEN</span> O.CustomerID <span style="color: #0000ff;">IS NOT NULL</span> <span style="color: #0000ff;">THEN</span> <span style="color: #09885a;">1</span> <span style="color: #0000ff;">END</span>) <span style="color: #0000ff;">AS</span> CustomersWithOrders

<span style="color: #0000ff;">FROM</span> Customers C

<span style="color: #0000ff;">LEFT JOIN</span> Orders O <span style="color: #0000ff;">ON</span> C.CustomerID <span style="color: #000000;">=</span> O.CustomerID

<span style="color: #0000ff;">GROUP BY</span> Country;

In [19]:
SELECT TOP 5 Country, 
       COUNT(CASE WHEN O.CustomerID IS NOT NULL THEN 1 END) AS CustomersWithOrders
FROM Customers C
LEFT JOIN Orders O ON C.CustomerID = O.CustomerID
GROUP BY Country;

Country,CustomersWithOrders
Argentina,1
Austria,13
Belgium,2
Brazil,19
Canada,9

## **<u>23\. Using IN for Multiple Values</u>**

**Use Case:** Curious about your customers in key markets? This query fetches the top five customers from Germany, the USA, and the UK, helping you tailor your marketing strategies for these important regions!

**Explanation:**

- WHERE and IN filters the results to include only customers from the specified countries.

(Let‚Äôs give a shout-out to your customers in the big three‚Äîbecause knowing your audience is half the battle! üá©üá™üá∫üá∏üá¨üáß)

**CODE:**

<span style="color: #0000ff;">SELECT</span> CustomerName, Country

<span style="color: #0000ff;">FROM</span> Customers

<span style="color: #0000ff;">WHERE</span> Country <span style="color: #0000ff;">IN</span> (<span style="color: #a31515;">'Germany'</span>, <span style="color: #a31515;">'USA'</span>, <span style="color: #a31515;">'UK'</span>);

In [20]:
SELECT TOP 5 CustomerName, Country
FROM Customers
WHERE Country IN ('Germany', 'USA', 'UK');

CustomerName,Country
Alfreds Futterkiste,Germany
Around the Horn,UK
Blauer See Delikatessen,Germany
B's Beverages,UK
Consolidated Holdings,UK

## **<u>24\. Using AND to Filter Orders</u>**

**Use Case:** Want to track down orders shipped to London by your speedy courier? This query retrieves orders from customers in London that were sent via "Speedy Express," making it perfect for monitoring service efficiency!

**Explanation:**

- First JOIN links orders to customer information.
- Second JOIN links orders to shipping company details.
- WHERE and AND filters results for orders shipped to London by "Speedy Express."

(Let‚Äôs get those speedy orders on your radar‚Äîbecause who doesn‚Äôt love a swift delivery? üööüí®)

**CODE:**  

<span style="color: #0000ff;">SELECT</span> o.OrderID, c.CustomerName, s.ShipperName, o.OrderDate

<span style="color: #0000ff;">FROM</span> Orders o

<span style="color: #0000ff;">JOIN</span> Customers c <span style="color: #0000ff;">ON</span> o.CustomerID <span style="color: #000000;">=</span> c.CustomerID

<span style="color: #0000ff;">JOIN</span> Shippers s <span style="color: #0000ff;">ON</span> o.ShipperID <span style="color: #000000;">=</span> s.ShipperID

<span style="color: #0000ff;">WHERE</span> c.City <span style="color: #000000;">=</span> <span style="color: #a31515;">'London'</span> <span style="color: #0000ff;">AND</span> s.ShipperName <span style="color: #000000;">=</span> <span style="color: #a31515;">'Speedy Express'</span>;

In [49]:
SELECT o.OrderID, c.CustomerName, s.ShipperName, o.OrderDate
FROM Orders o
JOIN Customers c ON o.CustomerID = c.CustomerID
JOIN Shippers s ON o.ShipperID = s.ShipperID
WHERE c.City = 'London' AND s.ShipperName = 'Speedy Express';

OrderID,CustomerName,ShipperName,OrderDate
10355,Around the Horn,Speedy Express,1996-11-15
10364,Eastern Connection,Speedy Express,1996-11-26
10388,Seven Seas Imports,Speedy Express,1996-12-19

## **<u>25\. Using MIN and MAX to find Price Range</u>**

**Use Case:** Want to dive into your beverage pricing? This query reveals the minimum and maximum prices for products in the "Beverages" category, helping you understand your price range and make informed pricing decisions!

**Explanation:**

- JOIN links products to their respective categories.
- MIN and MAX gives you the Minimum and Maximum Price.
- WHERE filters results to focus solely on the "Beverages" category.
- GROUP BY groups the results by category name for accurate price calculations.

(Think of it as your beverage price report card‚Äîlet‚Äôs see how well your drinks stack up! üçπüìä)

**CODE:**  

<span style="color: #0000ff;">SELECT</span> c.CategoryName, <span style="color: #795e26;">MIN</span>(p.Price) <span style="color: #0000ff;">AS</span> MinPrice, <span style="color: #795e26;">MAX</span>(p.Price) <span style="color: #0000ff;">AS</span> MaxPrice

<span style="color: #0000ff;">FROM</span> Products p

<span style="color: #0000ff;">JOIN</span> Categories c <span style="color: #0000ff;">ON</span> p.CategoryID <span style="color: #000000;">=</span> c.CategoryID

<span style="color: #0000ff;">WHERE</span> c.CategoryName <span style="color: #000000;">=</span> <span style="color: #a31515;">'Beverages'</span>

<span style="color: #0000ff;">GROUP BY</span> c.CategoryName;

In [50]:
SELECT c.CategoryName, MIN(p.Price) AS MinPrice, MAX(p.Price) AS MaxPrice
FROM Products p
JOIN Categories c ON p.CategoryID = c.CategoryID
WHERE c.CategoryName = 'Beverages'
GROUP BY c.CategoryName;

CategoryName,MinPrice,MaxPrice
Beverages,4.50,263.50